<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
     <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap.css">
    <script src="/public/js/jquery-3.5.1.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>About</title>
</head>
<body>
    <div class="texttarget">
        Welcome to our site,
    our team decided to create an educational site for the deaf.  In India, each deaf and hearing impaired could not move to their good career and can't create a social relationship. That is why our team decided to create an educational platform. On this site, we include course videos using sign language.
    </div>
    <div class="btninfo">
        <div class="size">
            <a href="#selection1" class="cta ">
                <span>About Team</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
           </div>
    </div>
    <div class="containerr" id="selection1">
        <div class="layer">
            <div class="layer2">
                <img src="./images/img_avatar1.png" id="sizer" alt="">
            </div>
            <div class="textlayer">
                <p>Vishnu R</p>
                <p>Software engineer  & Web desinger</p>
                <button type="button" class="btn btn-primary">Profile</button>
            </div>
        </div>
        <div class="layertwo">
            <div class="layertwo1">
                <img src="./images/img_avatar6.png" id="sizer" alt="">
            </div>
            <div class="textlayertwo">
                <p>Priya</p>
                <p>Manganer & Software engineer</p>
                <button type="button" class="btn btn-primary">Profile</button>
            </div>
        </div>
        <div class="layer3">
            <div class="layerthree">
                <img src="./images/img_avatar3.png" id="sizer" alt="">
            </div>
            <div class="textlayer3">
                <p>Arun</p>
                <p>Software engineer  & Web desinger</p>
                <button type="button" class="btn btn-primary">Profile</button>
            </div>
        </div>
      </div>
      <div class="btninfo1">
        <div class="size">
            <a href="home" class="cta ">
                <span>Home</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                  <path d="M1,5 L11,5"></path>
                  <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
              </a>
        </div>
    </div>
  <div class="copyrt">
    <center>Copyright Ecesis © 2020-2021</center>
  </div>
</body>
</html>